/*
0. Basic css
1. Navigation section
2. Intro section
3. Demo box
4. Customer section
5. How it works
6. About
7. Footer
*/

/*0. Basic*/
body{
  font-family: Raleway, sans-serif;
  font-size: 14px;
}
.parent-section{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5.125em;
}

h4{
  font-size: 2.25em;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.7em;
}
a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}
iframe {
  display:block;
  width:100%;
  box-shadow: 0 2px 20px 2px rgba(0,0,0,0.17);
  border-radius: 8px;
  border: rgba(192,0,14,0);
  overflow-y: hidden;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
iframe::-webkit-scrollbar {
  display: none;
}

/*1. Navigation section*/

/* Navigation Css */
.navbar {
  background-color: #010A29;
  border: none;
  padding-top: 10px;
  -webkit-transition: 0.4s all ease-out;
  -moz-transition: 0.4s all ease-out ;
  -ms-transition: 0.4s all ease-out ;
  -o-transition: 0.4s all ease-out ;
  transition: 0.4s all ease-out ;
}
.logo {
  width: 10.5em;
  height: 2.5em;
  background-image: url('../resources/Logo.svg');
  background-size: contain;
  background-repeat: no-repeat;

  -webkit-transition: none;
  -moz-transition: none ;
  -ms-transition: none ;
  -o-transition: none ;
  transition: none ;
}
.navbar-brand {
  height: auto;
  padding-top: 5px;
  padding-bottom: 0;
}
.navbar-right {
  font-size: 18px;
  margin: 5px 0 0 0;
}
.navbar-default .navbar-nav>li>a {
  font-size: 1em;
  font-weight: 700;
  color: #d6d8e5;
  -webkit-transition: 0.4s all ease-out;
  -moz-transition: 0.4s all ease-out ;
  -ms-transition: 0.4s all ease-out ;
  -o-transition: 0.4s all ease-out ;
  transition: 0.4s all ease-out ;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #fff;
  background-color: transparent;
  -webkit-transition: 0.4s all ease-out;
  -moz-transition: 0.4s all ease-out ;
  -ms-transition: 0.4s all ease-out ;
  -o-transition: 0.4s all ease-out ;
  transition: 0.4s all ease-out ;
}

.navbar-nav>li {
  margin-left: 2em;
  margin-right: 2em;
}
.nav-white {
  padding-top: 0px;
  background-color: #fff;
  -moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
}
.nav-white .logo{
  background-image: url('../resources/Logodark.svg');
  background-size: contain;
  -webkit-transition: none;
  -moz-transition: none ;
  -ms-transition: none ;
  -o-transition: none ;
  transition: none ;
}
.nav-white .navbar-nav>li>a {
  color: #010A29;
}
.nav-white .navbar-nav>li>a:hover {
  color: #3f4176;
}

/*2. Intro section*/
.intro-section{
  text-align: center;
  /*background: #010A29;*/
  color: white;
  background-image: url(../resources/bg_image/Main_BG.svg);
  background-repeat:no-repeat;
  background-position: center;
  /*background-size: 100%;*/
  padding-bottom: 10.8em;
  margin-left: 0px;
  /*background-size: contain;*/
  background-size: cover;
  /*background-size: 100% 100%;*/
}

/*3. Demo box*/

/*4. Customer section*/
.t-logo-container{
  margin-top: 20px;
  margin-bottom: 20px;
}
.t_logo{
  width: 93.5%;
  /*border: 1px solid #979797;*/
  /*border-radius: 1px;*/
}

/*5. How it works*/
.featicard{
  margin: 1em auto;
  width: 93%;
  padding-top: 2.9em;
  padding-bottom: 4.5em;
  border-radius: 3px;
  background: #00081E;
}
.featicons-container{
  padding-right: 20%;
  padding-left: 20%;
}
.featicons{
  width: 100%;
}
.feati-content{
  font-size: 1.3em;
  margin-left: 4%;
  margin-right: 4%;
  font-weight: 600;
}



/*6. About*/

/*7. Footer*/


/*media queries for desktop*/
@media (min-width: 767px) {
  #navbar,.navbar-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;

  }

  body{
    font-size: 16px;
  }

  .parent-section{
    padding-left: 14.05%;
    padding-right: 14.05%;
  }
  .feati-content{
    margin-left: 12%;
    margin-right: 12%;
  }

}

@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  body{
    font-size: 13px;

  }
}
